/* Font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Playfair+Display:wght@600&family=Poppins:wght@400;500;800&family=Roboto&family=Roboto+Slab&display=swap");

.body {
  font-family: "Poppins", sans-serif;
}
.font {
  font-size: 50px;
}
.round {
  background-color: lightyellow;
  border-radius: 15px;
  transition: transform 1s;
}
.round:hover {
  transform: scale(1.1);
}
.special {
  border-radius: 15px;
  background-color: #5bb4b0;
  color: white;
  transition: transform 1s;
}
.special:hover {
  transform: scale(1.1);
}
.bg-color {
  background-color: #fceae8;
}
.ask-pic img {
  transition: transform 1s;
}
.ask-pic img:hover {
  transform: scale(1.1);
}
.footer {
  background-color: #0b0d17;
}
